<div class="col-xs-12">
    <div class="jumbotron text-center">
        <h1 >Add Grocery item</h1>

    </div>
    <form name="groceryForm">
        <div>Dirty: <b>{{groceryForm.$dirty}}</b></div> <!--have we touched our form -->
        <div>Pristine: <b>{{groceryForm.$pristine}}</b></div><!--have we touched the form whatsover-->
        <div>Valid: <b>{{groceryForm.$valid}}</b></div><br/><!--valid -->

        <div class="alert alert-danger" role="alert" ng-show="groceryForm.$dirty && !groceryForm.$valid">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span>
            Enter a valid grocery item
        </div>
        <div class="form-group">
            <input type="text" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="Grocery item" ng-model="groceryItem.itemName" required/>
        </div>
        <!--end form-group 1-->
        <div class="form-group">
            <a href="#/" class="btn btn-success btn-lg btn-block" ng-click="groceryForm.$valid && save()">
                <span class="glyphicon glyphicon-pushpin"></span> Save
            </a>
        </div>
        <!--end form-group 2-->

        <div class="form-group">
            <a href="#/" class="btn btn-danger btn-lg btn-block">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </a>
        </div>
        <!--end form-group 3-->

    </form>
    {{rp}}
</div>