<div class="col-xs-12">
    <a href="#/addItem" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus">Add Grocery Item</span>
    </a>
    <ul class="list-group">
        <li ng-repeat="item in groceryItems |orderBy: 'date'" class="list-group-item text-center clearfix">
            <a href="#/" class="btn btn-success btn-sm pull-left">
                <span class="glyphicon glyphicon-unchecked"></span>
            </a>
            <span style="font-weight: bold">{{item.itemName | uppercase }}</span>
            <a href="#/addItem/edit/{{item.id}}" class="btn btn-default btn-sm pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </li>
    </ul>
</div>