<button type="button" class="btn btn-success btn-sm pull-left" ng-click="markCompleted(item)">
    <span class="glyphicon" ng-class="item.completed ? 'glyphicon-check' : 'glyphicon-unchecked'"></span><!--glyphicon-unchecked-->
</button>
<span ng-class="{strike:item.completed}" style="font-weight: bold">{{item.itemName | uppercase }}</span>

<button type="button"  class="btn btn-danger btn-sm pull-right" style="margin: 0 0 0 10px;" ng-click="removeItem(item)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>

<a href="#/addItem/edit/{{item.id}}" class="btn btn-default btn-sm pull-right">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
