<div class="col-xs-12">
    <h1 class="text-center">Add item below</h1>
    <form name="groceryForm">
        <div class="form-group">
            <input type="text" class="form-control" />
        </div><!--end form-group 1-->
        <div class="form-group">
            <button type="button" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Save
            </button>
            <button type="button" class="btn btn-danger btn-lg btn-block">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
            </button>
        </div><!--end form-group 1-->
    </form>
</div>